.country-container{
  padding-top: 0.5rem;

  .chart{
    min-height: 500px;
    max-height: 600px;
  }

  .chart-container{
    margin-top: 1rem;
  }

  .detail-list{
    .detail-item{
      display: flex;
      justify-content: space-between;
    }
  }

  .back-button{
    margin-bottom: 1rem;
  }
}
