.country-container{
  padding-top: 0.5rem;


  .chart-container{
    margin-top: 1rem;
  }

  .detail-list{
    .detail-item{
      display: flex;
      justify-content: space-between;
    }
  }

  .back-button{
    margin-bottom: 1rem;
  }


  .chart{
    min-height: 500px;
  }

  .source{
    margin-top: 0.5rem;
    text-align: right;
  }
}
