<ng-container *ngIf="lang == 'es'">
  <div class="container py-4">
    <button mat-raised-button class="back-button" routerLink="/"><fa-icon [icon]="faArrowLeft" style="margin-right: 0.3rem"></fa-icon>Back</button>
    <h1 style="text-align: center;">Política de Privacidad</h1>
    <p>ApuntesUSC no almacena ningún tipo de información personal privada, no guarda ningún nombre ni ningún tipo de información personal</p>
    <p>La única información de la que disponemos es la que nos proporciona Google Analytics (herramienta de monitorización web) a través de las cookies que usted ha aceptado.</p>
    <p>La información de la que disponemos es del tipo:</p>
    <ul>
      <li>Navegador utilizado</li>
      <li>Sistema Operativo utilizado</li>
      <li>Si es un acceso via Google, vía enlace, vía Instagram, etc</li>
      <li>La localización aproximada (Comunidad Autónoma o Ciudad) del usuario</li>
      <li>El número de visitas y de usuarios en tiempo real</li>
      <li>etc</li>
    </ul>
    <p>Siendo nuestro principal interés el conocimiento de la cantidad de usuarios que usan la web</p>
    <p>Con esto, declaramos que no almacenamos ningún dato más que los apuntes proporcionados y los que pudiera almacenar Google a través de Google Analytics</p>
    <p>Si usted navega en el sitio, da a entender que está de acuerdo con las políticas de privacidad</p>

    <h3 class="mt-5">Google Analytics</h3>
    <p>Google Analytics es un servicio analítico de web prestado por Google, Inc., una compañía de Delaware cuya oficina principal está en 1600 Amphitheatre Parkway, Mountain View (California), CA 94043, Estados Unidos (“Google”).</p>
    <p>Google Analytics utiliza “cookies”, que son archivos de texto ubicados en tu ordenador, para ayudar al website a analizar el uso que hacen los usuarios del sitio web.</p>
    <p>La información que genera la cookie acerca de tu uso del website (incluyendo tu dirección IP) será directamente transmitida y archivada por Google. Google usará esta información por cuenta nuestra con el propósito de seguir la pista de su uso del website, recopilando informes de la actividad del website y prestando otros servicios relacionados con la actividad del website y el uso de Internet.</p>
    <p>Google podrá transmitir dicha información a terceros cuando así se lo requiera la legislación, o cuando dichos terceros procesen la información por cuenta de Google. Google no asociará su dirección IP con ningún otro dato del que disponga.</p>
    <p>Como usuario, y en ejercicio de tus derechos, puedes rechazar el tratamiento de los datos o la información rechazando el uso de cookies mediante la selección de la configuración apropiada de tu navegador, sin embargo, debes saber que si lo hace puede que no puedas usar la plena funcionabilidad de este sitio web.</p>
    <p>Al utilizar esta web, de acuerdo a la información facilitada en esta Política de Privacidad, aceptas el tratamiento de datos por parte de Google en la forma y para los fines indicados.</p>
    <p>Para más información, puedes consultar la política de privacidad de Google en <a href="https://www.google.com/intl/es/policies/privacy/">https://www.google.com/intl/es/policies/privacy/</a></p>
  </div>

  <div class="container py-3">
    <h1 style="text-align: center;">Política de Cookies</h1>
    <h4 style="font-weight: bold">Política de cookies</h4>
    <p>Informamos acerca del uso de las cookies en la página web: www.apuntesusc.es</p>
    <h4 style="font-weight: bold">¿Qué son las cookies?</h4>
    <p>Las cookies son archivos que se pueden descargar en su equipo a través de las páginas web. Son herramientas que tienen un papel esencial  para  la  prestación  de  numerosos  servicios  de  la  sociedad  de  la  información.  Entre  otros,  permiten  a  una  página  web almacenar y recuperar información sobre los hábitos de navegación de un usuario o de su equipo y, dependiendo de la información obtenida, se pueden utilizar para reconocer al usuario y mejorar el servicio ofrecido. </p>
    <h4 style="font-weight: bold">Tipos de cookies</h4>
    <p>Según quien sea la entidad que gestione el dominio desde donde se envían las cookies y trate los datos que se obtengan se pueden distinguir dos tipos: </p>
    <p>En el caso de que las cookies sean instaladas desde un equipo o dominio gestionado por el propio editor pero la información q ue se recoja mediante éstas sea gestionada por un tercero, no pueden ser consideradas como cookies propias. </p>
    <p>Existe también una segunda clasificación según el plazo de tiempo que permanecen almacenadas en el navegador del cliente, pudiendo tratarse de:</p>
    <ul>
      <li>Cookies de sesión: diseñadas para recabar y almacenar datos mientras el usuario accede a una página web. Se suelen emplear para almacenar información que solo interesa conservar para la prestación del servicio solicitado por el usuario en una sola ocasión (p.e. una lista de productos adquiridos).</li>
      <li>Cookies persistentes: los datos siguen almacenados en el terminal y pueden ser accedidos y tratados durante un periodo definido por el responsable de la cookie, y que puede ir de unos minutos a varios años.</li>
    </ul>
    <p>Por último, existe otra clasificación con cinco tipos de cookies según la finalidad para la que se traten los datos obtenidos:</p>
    <ul>
      <li>Cookies técnicas: aquellas que permiten al usuario la navegación a través de una página web, plataforma o aplicación y la utilización de las diferentes opciones o servicios que en ella existan como, por ejemplo, controlar el tráfico y la comunicación de datos, identificar la sesión, acceder a partes de acceso restringido, recordar los elementos que integran un pedido, realizar el proceso de compra de un pedido, realizar
        la solicitud de inscripción o participación en un evento, utilizar elementos de seguridad durante la navegación, almacenar contenidos para la difusión de vídeos o sonido o compartir contenidos a través de redes sociales</li>
      <li>Cookies de personalización: permiten al usuario acceder al servicio con algunas características de carácter general predefinidas en función de una serie de criterios en el terminal del usuario como por ejemplo serian el idioma, el tipo de navegador a través del cual accede al servicio, la configuración regional desde donde accede al servicio, etc.</li>
      <li>Cookies de análisis: permiten al responsable de las mismas, el seguimiento y análisis del comportamiento de los usuarios de los sitios web a los que están vinculadas. La información recogida mediante este tipo de cookies se utiliza en la medición de la actividad de los sitios web, aplicación o plataforma y para la elaboración de perfiles de navegación de los usuarios de dichos sitios, aplicaciones y plataformas, con el fin de introducir mejoras en función del análisis de los datos de uso que hacen los usuarios del servicio.</li>
      <li>Cookies publicitarias: permiten la gestión, de la forma más eficaz posible, de los espacios publicitarios. </li>
      <li>Cookies de publicidad comportamental: almacenan información del comportamiento de los usuarios obtenida a través de la observación continuada de sus hábitos de navegación, lo que permite desarrollar un perfil específico para mostrar publicidad en función del mismo.</li>
      <li>Cookies de redes sociales externas: se utilizan para que los visitantes puedan interactuar con el contenido de diferentes plataformas sociales (facebook, youtube, twitter, linkedIn, etc..) y que se generen únicamente para los usuarios de dichas redes sociales. Las condiciones de utilización de estas cookies y la información recopilada se regula por la política de privacidad de la plataforma social correspondiente.</li>
    </ul>
    <h4 style="font-weight: bold">Desactivación y eliminación de cookies</h4>
    <p>Tienes la opción de permitir, bloquear o eliminar las cookies instaladas en tu equipo mediante la configuración de las opciones del navegador instalado en su equipo. Al desactivar cookies, algunos de los servicios disponibles podrían dejar de estar operativos. La forma de deshabilitar las cookies es diferente para cada navegador, pero normalmente puede hacerse desde el menú Herramientas u Opciones. También puede consultarse el menú de Ayuda del navegador dónde puedes encontrar instrucciones. El usuario podrá en cualquier momento elegir qué cookies quiere que funcionen en este sitio web.</p>
    <p>Puede usted permitir, bloquear o eliminar las cookies instaladas en su equipo mediante la configuración de las opciones del navegador instalado en su ordenador:</p>
    <ul>
      <li>
        <a target="_blank" href="https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies">Microsoft Internet Explorer o Microsoft Edge</a>
      </li>
      <li><a target="_blank" href="https://support.mozilla.org/es/kb/impedir-que-los-sitios-web-guarden-sus-preferencia">Mozilla Firefox</a></li>
      <li><a target="_blank" href="https://support.google.com/accounts/answer/61416?hl=es">Chrome</a></li>
      <li><a target="_blank" href="https://safari.helpmax.net/es/privacidad-y-seguridad/como-gestionar-las-cookies/">Safari</a></li>
      <li><a target="_blank" href="https://blogs.opera.com/news/2015/08/how-to-manage-cookies-in-opera/">Opera</a></li>
    </ul>
    <h4 style="font-weight: bold">Cookies utilizadas en www.apuntesusc.es</h4>
    <p>A continuación se identifican las cookies que están siendo utilizadas en este portal así como su tipología y función:</p>
    <ul>
      <li>Cookies de sesión: Las utilizamos para que el administrador pueda acceder a la página</li>
      <li>Google Analytics: Utilizamos Cookies de Google Analytics para saber el número de visitas que tiene www.apuntesusc.es y las páginas más visitadas en ella (asignaturas y carrera)</li>
    </ul>
    <h4 style="font-weight: bold">Aceptación de la Política de cookies</h4>
    <p>www.apuntesusc.es asume que usted acepta el uso de cookies. No obstante, muestra información sobre su Política de cookies en la parte inferior o superior de cualquier página del portal con cada inicio de sesión con el objeto de que usted sea consciente.</p>
    <p>Ante esta información es posible llevar a cabo las siguientes acciones:</p>
    <ul>
      <li>Aceptar cookies. No se volverá a visualizar este aviso al acceder a cualquier página del portal durante la presente sesión.</li>
      <li>Modificar su configuración. Podrá obtener más información sobre qué son las cookies, conocer la Política de cookies de www.apuntesusc.es y modificar la configuración de su navegador, como le explicamos en el apartado Desactivación y eliminación de cookies</li>
    </ul>
  </div>
</ng-container>

<ng-container *ngIf="lang == 'en'">
  <div class="container py-4">
    <button mat-raised-button class="back-button" routerLink="/"><fa-icon [icon]="faArrowLeft" style="margin-right: 0.3rem"></fa-icon>Back</button>
    <h1 style="text-align: center;">Política de Privacidad</h1>
    <p>vaccine-covid.live does not save any kind of personal information.</p>
    <p>The only information we know is the one provided by Google Analytics (web monitoring tool) through the cookies you have accepted</p>
    <p>The information we have is of the type:</p>
    <ul>
      <li>Browser used</li>
      <li>Operating System Used</li>
      <li>If it is an access via Google, via link, via Instagram, etc.</li>
      <li>Aprox. location (State or region).</li>
      <li>Number of visitors</li>
      <li>...</li>
    </ul>
    <p>Being our main interest the knowledge of the number of users who use the web</p>
    <p>With this, we declare that we do not store any data other than the notes provided and those that Google may store through Google Analytics</p>
    <p>If you browse the site, you imply that you agree with the privacy policies</p>

    <h3 class="mt-5">Google Analytics</h3>
    <p>Google Analytics is a web analytics service provided by Google, Inc., a Delaware company whose main office is at 1600 Amphitheater Parkway, Mountain View (California), CA 94043, United States (“Google”).</p>
    <p>Google Analytics uses "cookies", which are text files located on your computer, to help the website analyze how users use the website.</p>
    <p>The information generated by the cookie about your use of the website (including your IP address) will be directly transmitted and filed by Google. Google will use this information on our behalf in order to keep track of your use of the website, compiling reports on website activity and providing other services related to website activity and Internet use.</p>
    <p>Google may transmit said information to third parties when required by law, or when said third parties process the information on Google's behalf. Google will not associate your IP address with any other data it has.</p>
    <p>As a user, and in exercise of your rights, you can reject the treatment of data or information by rejecting the use of cookies by selecting the appropriate configuration of your browser, however, you should know that if you do so, you may not be able to use the full functionality of this website.</p>
    <p>By using this website, according to the information provided in this Privacy Policy, you accept the processing of data by Google in the manner and for the purposes indicated.</p>
    <p>For more information, you can consult Google's privacy policy at <a href="https://www.google.com/intl/es/policies/privacy/">https://www.google.com/intl/es/policies/privacy/</a></p>
  </div>

  <div class="container py-3">
    <h1 style="text-align: center;">Cookies policy</h1>
    <h4 style="font-weight: bold">Cookies policy</h4>
    <p>We inform about the use of cookies on the website: vaccine-covid.live</p>
    <h4 style="font-weight: bold">¿What are cookies?</h4>
    <p>Cookies are files that can be downloaded to your computer through web pages. They are tools that play an essential role in the provision of numerous services of the information society. Among others, they allow a web page to store and retrieve information about the browsing habits of a user or their equipment and, depending on the information obtained, they can be used to recognize the user and improve the service offered. </p>
    <h4 style="font-weight: bold">Types of cookies</h4>
    <p>Depending on who is the entity that manages the domain from where the cookies are sent and treats the data obtained, two types can be distinguished: </p>
    <p>In the event that cookies are installed from a computer or domain managed by the publisher himself but the information collected through them is managed by a third party, they cannot be considered as own cookies. </p>
    <p>There is also a second classification according to the period of time that they remain stored in the client's browser, which may be:</p>
    <ul>
      <li>Session cookies: designed to collect and store data while the user accesses a web page. They are usually used to store information that only interests to keep for the provision of the service requested by the user on a single occasion (for example, a list of products purchased).</li>
      <li>Persistent cookies: the data is still stored in the terminal and can be accessed and processed during a period defined by the person responsible for the cookie, which can range from a few minutes to several years..</li>
    </ul>
    <p>Finally, there is another classification with five types of cookies according to the purpose for which the data obtained is processed:</p>
    <ul>
      <li>Technical cookies: those that allow the user to navigate through a web page, platform or application and the use of the different options or services that exist in it, such as, for example, controlling traffic and data communication, identifying the session , access parts of restricted access, remember the elements that make up an order, carry out the purchase process of an order, carry out
        the request to register or participate in an event, use security elements while browsing, store content for the dissemination of videos or sound or share content through social networks</li>
      <li>Personalization cookies: they allow the user to access the service with some predefined general characteristics based on a series of criteria in the user's terminal, such as the language, the type of browser through which the service is accessed, the configuration regional from where you access the service, etc.</li>
      <li>Analysis cookies: they allow the person responsible for them to monitor and analyze the behavior of the users of the websites to which they are linked. The information collected through this type of cookies is used to measure the activity of the websites, application or platform and to create navigation profiles of the users of said sites, applications and platforms, in order to introduce improvements in based on the analysis of the usage data made by the users of the service.</li>
      <li>Cookies publicitarias: permiten la gestión, de la forma más eficaz posible, de los espacios publicitarios. </li>
      <li>Behavioral advertising cookies: they store information on the behavior of users obtained through the continuous observation of their browsing habits, which allows the development of a specific profile to display advertising based on it.</li>
      <li>Cookies from external social networks: they are used so that visitors can interact with the content of different social platforms (Facebook, YouTube, Twitter, LinkedIn, etc.) and that they are generated only for the users of said social networks. The conditions of use of these cookies and the information collected are regulated by the privacy policy of the corresponding social platform.</li>
    </ul>
    <h4 style="font-weight: bold">Desactivación y eliminación de cookies</h4>
    <p>You have the option to allow, block or delete the cookies installed on your computer by configuring the browser options installed on your computer. By deactivating cookies, some of the available services may no longer be operational. The way to disable cookies is different for each browser, but it can usually be done from the Tools or Options menu. You can also consult the Help menu of the browser where you can find instructions. The user may at any time choose which cookies he wants to work on this website.</p>
    <p>You can allow, block or delete the cookies installed on your computer by configuring the browser options installed on your computer:</p>
    <ul>
      <li>
        <a target="_blank" href="https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies">Microsoft Internet Explorer or Microsoft Edge</a>
      </li>
      <li><a target="_blank" href="https://support.mozilla.org/es/kb/impedir-que-los-sitios-web-guarden-sus-preferencia">Mozilla Firefox</a></li>
      <li><a target="_blank" href="https://support.google.com/accounts/answer/61416?hl=es">Chrome</a></li>
      <li><a target="_blank" href="https://safari.helpmax.net/es/privacidad-y-seguridad/como-gestionar-las-cookies/">Safari</a></li>
      <li><a target="_blank" href="https://blogs.opera.com/news/2015/08/how-to-manage-cookies-in-opera/">Opera</a></li>
    </ul>
    <h4 style="font-weight: bold">Cookies used at vaccine-covid.live</h4>
    <p>The cookies that are being used in this portal are identified below, as well as their type and function:</p>
    <ul>
      <li>Session cookies: We use them so that the administrator can access the page</li>
      <li>Google Analytics: We use Google Analytics cookies to know the number of visits that vaccine-covid.live has and the most visited pages in it (subjects and career)</li>
    </ul>
    <h4 style="font-weight: bold">Aceptación de la Política de cookies</h4>
    <p>vaccine-covid.live assumes that you accept the use of cookies. However, it displays information about its Cookies Policy at the bottom or top of any page of the portal with each login in order for you to be aware.
    <p>Given this information it is possible to carry out the following actions:</p>
    <ul>
      <li>Accept cookies. This notice will not be displayed again when accessing any page of the portal during this session.</li>
      <li>Modify your settings. You can obtain more information about what cookies are, know the Cookies Policy of vaccine-covid.live and modify the configuration of your browser, as we explain in the section Deactivation and elimination of cookies.</li>
    </ul>
  </div>
</ng-container>
