<div class="container">
  <img class="icon" src="/assets/404-error.svg" alt="">
  <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</div>
<p class="message">We are so sorry, we could not find what you are looking for.</p>
<p class="options">Options</p>
<div>
  <app-country-search-bar class="search-bar"></app-country-search-bar>
  <button mat-raised-button color="primary" routerLink="/">Go back</button>
</div>
