<div class="inner-container">
  <ngx-charts-line-chart style="display: block"
                         [scheme]="'vivid'"
                         [schemeType]="'ordinal'"
                         [legend]="legend"
                         [showXAxisLabel]="showXAxisLabel"
                         [showYAxisLabel]="showYAxisLabel"
                         [legendPosition]="legendPosition"
                         [xAxis]="xAxis"
                         [yAxis]="yAxis"
                         [xAxisLabel]="xAxisLabel"
                         [yAxisLabel]="yAxisLabel"
                         [results]="data"
                         (select)="onSelect($event)"
                         (activate)="onActivate($event)"
                         (deactivate)="onDeactivate($event)"
  >
  </ngx-charts-line-chart>
</div>
