
<mat-card>
  <div style="display: flex">
    <fa-icon *ngIf="isoCode == null" [icon]="worldIcon" size="2x"></fa-icon>
    <img *ngIf="isoCode != null" class="flag" src="/assets/flags/images/{{isoCode | isoCode | lowercase}}.svg" alt="">
    <h2 style="padding-left: 5px;">{{headerText}}</h2>
  </div>
  <div class="div-container">
    <div class="main-property property">
      <fa-icon [icon]="faSyringe" size="2x" style="align-self: center; margin-right: 0.5rem" class="hide-mobile"></fa-icon>
      <div class="content">
        <p class="title" matTooltip="People vaccinated (at least 1 dosis) per hundred" matTooltipPosition="above">{{'components.header.vaccinated' | translate}}</p>
        <h3 class="value">{{todaySerie?.peopleVaccinatedPerHundred ||'-'}}%</h3>
        <p class="subcaption" matTooltip="Percentage increase since previous day" *ngIf="todaySerie?.peopleVaccinatedPerHundred && yesterdaySerie?.peopleVaccinatedPerHundred"><span class="positive">+{{todaySerie?.peopleVaccinatedPerHundred - yesterdaySerie?.peopleVaccinatedPerHundred | number : '1.2-3'}}%</span> {{'util.thanYesterday' | translate}}</p>
      </div>
      </div>
    <div class="secondary-property property">
      <fa-icon [icon]="faShieldVirus" size="2x" style="align-self: center; margin-right: 0.5rem" class="hide-mobile"></fa-icon>
      <div>
        <p class="title" matTooltip="People fully vaccinated (2 dosis) per hundred" matTooltipPosition="above">{{'components.header.fullyVaccinated' | translate}}</p>
        <h3 class="value">{{todaySerie?.fullyVaccinatedPerHundred ||'-'}}%</h3>
        <p class="subcaption" matTooltip="Percentage increase since previous day" *ngIf="todaySerie?.fullyVaccinatedPerHundred && yesterdaySerie?.fullyVaccinatedPerHundred"><span class="positive">+{{todaySerie?.fullyVaccinatedPerHundred - yesterdaySerie?.fullyVaccinatedPerHundred | number : '1.2-3'}}%</span> {{'util.thanYesterday' | translate}}</p>
      </div>
    </div>
    <div class="secondary-property hide-mobile property">
      <fa-icon [icon]="faUserShield" size="2x" style="align-self: center; margin-right: 0.5rem"></fa-icon>
      <div>
        <p class="title" matTooltip="People vaccinated today" matTooltipPosition="above">{{'components.header.vaccinatedToday' | translate}}</p>
        <h3 class="value">{{todaySerie?.dailyVaccionations | numberFomat}}</h3>
        <p class="subcaption" matTooltip="Difference with the previous day" *ngIf="todaySerie?.dailyVaccionations && yesterdaySerie?.dailyVaccionations"><span class="positive" [ngClass]="{'negative' : todaySerie?.dailyVaccionations - yesterdaySerie?.dailyVaccionations < 0}">{{(todaySerie?.dailyVaccionations - yesterdaySerie?.dailyVaccionations | numberFomat) ||'-'}}</span> {{'util.thanYesterday' | translate}}</p>
      </div>
      </div>
  </div>
</mat-card>
