@import "src/variables";

.flag{
  height: 30px;
  float: left;
  border-radius: 5px;
}

.div-container{
  display: flex;
  justify-content: space-around;

  .title{
    margin: 0;
    color:grey;
    margin-bottom: 0.7rem;
  }

  .subcaption {
    margin-top: 0.4rem;
    .positive:not(.negative){
      color: $text-positive-value;
      font-weight: 500;
    }
    .negative{
      color: $text-negative-value;
      font-weight: 500;
    }
  }
  .main-property{
    .value{
      font-size: 3rem;
      font-weight: bolder;
      margin: 0;
      margin: 0;
    }
    .title{
    }
  }

  .property{
    display: flex;
  }

  .secondary-property{
    .value{
      font-size: 2rem;
      font-weight: bolder;
      margin: 0;
    }
    .title{
    }
  }
}
