<h2>World Data</h2>
<mat-card>
  <div class="div-container">
    <div class="main-property">
      <p class="title">Vaccinated</p>
      <h3 class="value">{{world?.peopleVaccinatedPerHundred}}%</h3>
      <p class="subcaption"><span class="positive">+0.25%</span> than yesterday</p>
    </div>
    <div class="secondary-property">
      <p class="title">Fully vaccinated</p>
      <h3 class="value">{{world?.fullyVaccinatedPerHundred}}%</h3>
      <p class="subcaption"><span class="positive">+0.25%</span> than yesterday</p>
    </div>
  </div>
</mat-card>
